**/*~
**/*.dll
**/*.exe
**/*.mdb
**/ConfigureDefines.cs
**/ConfigureDefines.cs.tmpl
ABOUT-NLS
aclocal*
autom4te*
bless
bless-script
compile
config.*
configure
data/bless.desktop
data/help_script.sh
data/help_script.sh.install
data/help_script.tmpl
doc/user/bless-manual.omf
doc/user/*.html
INSTALL
install-sh
m4/
Makefile
Makefile.in
missing
po/**
!po/LINGUAS
!po/Makevars
!po/POTFILES.in
